@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

}
<div class="container-fluid">
    <div class="row-cols-auto justify-content-center align-items-center g-1">
        <div class="col">
            <!-- Progression Component -->
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Generated progression:</h4>
                    <div class="container">
                        <!-- Staff Component -->
                        
                        <div class="row staff">
                            <div class="col-auto">
                                <div class="clef">𝄞</div>
                            </div>                           

                            @if (!Model.isPromptError) 
                            {
                                @for (int i = 0; i < Model.staff.Length / 4; i++)
                                {
                                    <!-- Measure Component -->
                                    <div class="col measure">
                                       <div class="row">
                                           <!-- Chord Component -->
                                           <div class="col chord">
                                               <div>@Model.staff[i, 0]</div>
                                               <div>/</div>
                                           </div>
                                           <!-- Chord Component -->
                                           <div class="col chord">
                                               <div>@Model.staff[i,1]</div>
                                               <div>/</div>
                                           </div>
                                           <!-- Chord Component -->
                                           <div class="col chord">
                                               <div>@Model.staff[i,2]</div>
                                               <div>/</div>
                                           </div>
                                           <!-- Chord Component -->
                                           <div class="col chord">
                                               <div>@Model.staff[i,3]</div>
                                               <div>/</div>
                                           </div>
                                       </div>
                                    </div> 
                                }

                            } else
                            {
                                 <div class="col-auto">
                                    <h2> Something went wrong! Try generating a new chord progression.</h2>        
                                 </div>
                            }
                        </div>

                    </div>
                </div>
            </div>
            <br>

            <!--- MAIN NAV MENU FOR GENERATIONS --->
            <nav id="main-bottom-footer" class="navbar fixed-bottom bg-body-tertiary">
                <div class="container-fluid">
                    <div class="container">
                        <form method="post" asp-page-handler="">
                            <div class="row">
                                <div class="col-2">
                                    <!-- Generation Button -->
                                    <button class="btn btn-info btn-lg content-text" type="submit">Generate Progession</button>
                                </div>
                                <div class="col-2">
                                    <!-- Key Signature -->
                                    <label for="keySignature" class="form-label">Key Signature:</label>
                                    <select id="keySignature" name="keySignature" class="form-select">
                                        <!-- Mayor Keys -->
                                        <option selected>@Model.keySignature</option>
                                        <option>C Major</option>
                                        <option>G Major</option>
                                        <option>D Major</option>
                                        <option>A Major</option>
                                        <option>E Major</option>
                                        <option>B Major</option>
                                        <option>F# / Gb Major</option>
                                        <option>Db Major</option>
                                        <option>Ab Major</option>
                                        <option>Eb Major</option>
                                        <option>Bb Major</option>
                                        <option>F Major</option>

                                        <!-- Minor Keys -->
                                        <option>A minor</option>
                                        <option>E minor</option>
                                        <option>B minor</option>
                                        <option>F# minor</option>
                                        <option>C# minor</option>
                                        <option>G# minor</option>
                                        <option>Eb / D# minor</option>
                                        <option>Bb minor</option>
                                        <option>F minor</option>
                                        <option>C minor</option>
                                        <option>G minor</option>
                                        <option>D minor</option>
                                    </select>
                                </div>

                                <!-- Harmonitation Modifiers -->
                                <div class="col-2">
                                    <!-- Harmonitation Modifiers -->
                                    <label for="reHarmonization" class="form-label">ReHarmonization Modifiers:</label>
                                    <select id="reHarmonization" name="reHarmonization" value="@Model.reHarmonization" class="form-select">
                                        <option selected>@Model.reHarmonization</option>
                                        <option>None</option>
                                        <option>Diatonic Approach</option>
                                        <option>Dominant Approach</option>
                                        <option>Chromatic Approach</option>
                                        <option>Double Chromatic Approach</option>
                                        <option>Parallel Approach</option>
                                        <option>Tritone Subtitution</option>
                                        <option>Tonic Subtitution</option>
                                        <option>Subdominant Subtitution</option>
                                    </select>
                                 </div>

                            </div>
                        </form>
                    </div>
                </div>
            </nav>

        </div>
    </div>
</div>